body{
        background-color: rgb(0, 0, 0);
}
#gameFrame{
        background-image:url(../img/office.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        width: 800px;
        margin: auto;
        position: relative;
        overflow: hidden;
        cursor: crosshair;
}
#healthBar{
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 100%;background-color: rgb(93, 93, 93);
        transition: width .5s;
        text-align: center;
        font-family: 'Bebas Neue';
        font-size: 15px;
}
.losePoints{
        animation-name: losePoints;
        animation-duration: 2s;
}
@keyframes losePoints {
	from { background-color: rgb(255, 255, 255); }
	to { background-color: rgb(175, 0, 0); }
}
#startButton{
        position: absolute;
        top: 300px;
        left: 250px;
        background-color: rgb(92, 92, 92);
        border-radius: 0;
        width: 300px;
        height: 50px;
        font-size: 30px;
        font-family: 'Bebas Neue';
        color: white;
}
#startButton:hover{
        color: black;
}
#startButton:active{
        color:rgb(0, 255, 68);
}
.enemy{
        width:150px;
        height: 400px;
        position: absolute;
        background-image: url(../img/empoyer1.png);
        background-repeat: no-repeat;
        bottom: -400px;
        transition: all .5s;
}

.enemy.dead{
        background-image: url(../img/employer3.png);
        background-repeat: no-repeat;
        /* animation: dead;
        animation-duration: .2s;
        animation-fill-mode: both; */
}
/* @-webkit-keyframes dead {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%;
        }
        100% {
          -webkit-transform: rotate(-90deg);
                  transform: rotate(-90deg);
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%;
        }
      }
      @keyframes dead {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%;
        }
        100% {
          -webkit-transform: rotate(-90deg);
                  transform: rotate(-90deg);
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%;
        }
      } */
.enemy.showing{
        bottom:0px;
        background-image: url(../img/employer1.png);
        background-repeat: no-repeat;
}
.enemy.shooting{
        background-image: url(../img/employer2.png);
        background-repeat: no-repeat;
}
.dNone{
        display: none;
}
#enemy1{ left: 5px;}
#enemy2{ left: 165px;}
#enemy3{ left: 325px;}
#enemy4{ left: 485px;}
#enemy5{ left: 645px;}
#enemy6{ left: 20px;}
#enemy7{ left: 178px;}
#enemy8{ left: 225px;}
#enemy9{ left: 385px;}
#enemy10{ left: 445px;}
#enemy11{ left: 25px;}
#enemy12{ left: 365px;}
#enemy13{ left: 225px;}
#enemy14{ left: 185px;}
#enemy15{ left: 45px;}
